    <section class="products section bg-gray" style="height: 100vh">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 title text-center">
                        <h2>Manager</h2>
                        <ul class="list-group">
                            <li class="list-group-item" ><a href="/ManagerAccount/Index">Account Manager</a></li>
                            <li class="list-group-item" ><a href="/ManagerCustomer/Index">View Customer</a></li>
                            <li class="list-group-item" ><a href="/ManagerShipper/Index">Shipper Manager</a></li>
                            <li class="list-group-item" ><a href="/ManagerProduct/Index">Product Manager</a></li>
                            <li class="list-group-item" ><a href="/ManagerOrder/Index">Order Manager</a></li>
                        </ul>
                    </div >
                    <div class="col-lg-9 title text-center" style="margin-left: 6%">
                        <h2>Detail</h2> 
                    </div>
                </div>
            </div>
        </section>