@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 <section class="signin-page account">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="block text-center">
                            <h2 class="text-center">Welcome Back</h2>
                            <form class="text-left clearfix" action="/Login/DoLogin" method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control"  placeholder="Username" name="username" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-main text-center" value="Login" >Login</button>
                                </div>
                            </form>
                            <p class="mt-20">New in this site ?<a href="/Register/Show"> Create New Account</a></p>
                            <p style="color: red">@ViewData["message"]</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
